{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "emotion",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "babel-plugin-parameter-decorator",
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
